.display-activerooms {
    border:1px solid black;
    display:flex;
    background: white;
    border-radius: 25px;
    font-size: 18px;
    margin-top:10px;
    background-color: lightgreen;
    justify-content: center;
    padding:10px;
}

