.display-activeusers {
    border:1px solid black;
    display:flex;
    background: white;
    border-radius: 25px;
    font-size: 18px;
    margin-top:10px;
    background-color: lightgreen;
}

.centerthing{
    margin-top:10px;
}

.avatar-head-in-chat {
        // position: absolute;
        // left: 0;
        border-radius: 50%;
        border:none;
    }