.display-message {
    position: relative;
    padding-left: 70px;
    padding-right: 10px;
    margin-bottom:20px;
    
}
.avatar-head-in-chat {
        position: absolute;
        left: 0;
        border-radius: 50%;
        border: 1px solid #999;
    }